.card {
    min-height: 400px;

    overflow: hidden;
    position: relative;
    img {
        width: 100%;
    }
}

p {
    padding-left: 16px;
    padding-right: 16px;
    color: #000A;
}

button {
    width: 50%;
    position: absolute;
    bottom: 0;
    height: 32px;
    background-color: white;
    border: none;
    border-top: 1px solid #00000020;
    cursor: pointer;
    &:first-child {
        left: 0;
    }

    &:last-child {
        right: 0;
        border-left: 1px solid #00000020;
    }

    &:hover {
        background-color: #0001;
    }

    &:active {
        background-color: gray;
    }
}
