/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    background-color: #00000010;
    font-family: 'Lato', sans-serif;
}

.margin-bottom-16 {
    margin-bottom: 16px;
}

.padding-16 {
    padding: 16px;
}

.default-card {
    width: 400px;
    background-color: white;
    border: 1px solid #00000020;
    border-radius: 4px;
    margin-bottom: 18px;
    box-sizing: border-box;
}
